<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanshi.mapper.TbContentMapper">
	<resultMap id="BaseResultMap" type="com.sanshi.pojo.TbContent">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="category_id" jdbcType="BIGINT" property="categoryId" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
		<result column="title_desc" jdbcType="VARCHAR" property="titleDesc" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="pic" jdbcType="VARCHAR" property="pic" />
		<result column="pic2" jdbcType="VARCHAR" property="pic2" />
		<result column="created" jdbcType="TIMESTAMP" property="created" />
		<result column="updated" jdbcType="TIMESTAMP" property="updated" />
	</resultMap>

	<sql id="tbContent_field">
		id,category_id,title,sub_title,title_desc,url,pic,pic2,created,updated
	</sql>
	<sql id="tbContent_field_notId">
		category_id,title,sub_title,title_desc,url,pic,pic2,created,updated
	</sql>
	<select id="getTbContentAll" parameterType="long" resultMap="BaseResultMap">
		select
		<include refid="tbContent_field" />
		from tb_content
	</select>

	<insert id="insertTbContent" parameterType="com.sanshi.pojo.TbContent">
		insert into tb_content(
		<include refid="tbContent_field_notId" />
		)
		value(#{categoryId},#{title},#{subTitle},#{titleDesc},#{url},#{pic},#{pic2},#{created},#{updated})
	</insert>

	<delete id="deleteTbContent" parameterType="long">
		delete from tb_content where id=#{id}
	</delete>


</mapper>