<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <context:component-scan base-package="com.sanshi.controller"/>
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设定默认编码 -->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!-- 设定文件上传的最大值5MB，5*1024*1024 -->
        <property name="maxUploadSize" value="5242880"></property>
    </bean>
 <!--配置全局异常处理-->
    <bean class="com.sanshi.exceptoin.GlobalExceptionReslover"/>

    <!--配置dubbo消费 -->
    <dubbo:application name="taotao-web-consumer"/>
    <!-- 设置注册仓库地址 -->
    <dubbo:registry address="zookeeper://118.89.43.25:2181"/>
    <!-- 引入服务与服务者提供的接口一样 id与controller层里面的注解名一样才能消费 -->
    <dubbo:reference id="tbItemService" interface="com.sanshi.service.TbItemService"
                     timeout="3000"/>
    <dubbo:reference interface="com.sanshi.service.TbItemCatService"
                     id="tbItemCatService" timeout="3000"/>
    <dubbo:reference interface="com.sanshi.service.PictureService"
                     id="pictureService" timeout="3000"/>
    <dubbo:reference interface="com.sanshi.service.TbItemParamService"
                     id="tbItemParamService" timeout="3000"/>
    <dubbo:reference interface="com.sanshi.cms.service.TbContentCategoryService"
                     id="tbContentCategoryService" timeout="3000" />
    <dubbo:reference interface="com.sanshi.cms.service.TbContentService"
                     id="tbContentService" timeout="3000" />
    <dubbo:reference interface="com.sanshi.search.service.SolrItemService"
                     id="solrItemService" timeout="3000" />

</beans>
